{% extends 'template.html' %}

{% block title %}
	Mongo-min: dbs
{% endblock %}

{% block body %}
	<div>Databases:</div>
	{% if dbs %}
		<ul>
		{% for db in dbs.databases %}
			<li>
				{% if !db.empty %}
				<a href="/{{ db.name }}" title="{{ db.sizeOnDisk|dataFormat }}">
				{% endif %}
					{{ db.name }} ({{ db.colls }})
				{% if !db.empty %}
				</a>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
		Total size: {{ dbs.totalSize|dataFormat }}
	{% else %}
		No databases
	{% endif %}
{% endblock %}