<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}
				Mongo-min
			{% endblock %}
		</title>
		<meta charset="UTF-8">
		{% block head %}
			<link rel="stylesheet" href="/public/styles/main.css" type="text/css" />
			<script src="/public/scripts/main.js"></script>
		{% endblock %}
	</head>
	<body>
		<div id="mainmenu">
			{% block mainmenu %}
				<ul>
					<li><a href="/">Index</a></li>
				</ul>
			{% endblock %}
		</div>
		<div id="menu">
			{% block menu %}
				<ul>
					
				</ul>
			{% endblock %}
		</div>

		{% if err %}
			<div id="error">
				{{ err.message }}
			</div>
		{% endif %}
		<div id="body">
			{% block body %}
				No body content
			{% endblock %}
		</div>
	</body>
</html>
